@model PurchaseRequest

@{
    ViewData["Title"] = $"Request №{Model.Id}";
}

<h1>Request № @Model.Id</h1>
<h3>Client</h3>
<hr />
<dl class="row">
    <dt class="col-sm-4">
        @Html.DisplayNameFor(model => model.FullName)
    </dt>
    <dd class="col-sm-8">
        @Html.DisplayFor(model => model.FullName)
    </dd>
    <dt class="col-sm-4">
        @Html.DisplayNameFor(model => model.Phone)
    </dt>
    <dd class="col-sm-8">
        @Html.DisplayFor(model => model.Phone)
    </dd>
    <dt class="col-sm-4">
        @Html.DisplayNameFor(model => model.Email)
    </dt>
    <dd class="col-sm-8">
        @Html.DisplayFor(model => model.Email)
    </dd>
    <dt class="col-sm-4">
        @Html.DisplayNameFor(model => model.ApplicationDate)
    </dt>
    <dd class="col-sm-8">
        @Html.DisplayFor(model => model.ApplicationDate)
    </dd>
</dl>

<h3>Car</h3>
<hr />
<div class="row">
    <div class="col-sm-6">
        <dl class="row">
            <dt class="col-sm-4">
                Model
            </dt>
            <dd class="col-sm-8">
                @Model.Car.Model.Brand.Name @Model.Car.Model.Parent?.Name @Model.Car.Model.Name @Model.Car.Year
            </dd>
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.Car.Price)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.Car.Price)
            </dd>
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.Car.State)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.Car.State)
            </dd>
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.Car.Color)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.Car.Color)
            </dd>
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.Car.EngineVolume)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.Car.EngineVolume)
            </dd>
            @if (Model.Car.State == Car.CarState.SecondHand) {
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.Car.Mileage)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.Car.Mileage)
                </dd>
            }
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.Car.FuelType)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.Car.FuelType.Name)
            </dd>
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.Car.BodyType)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.Car.BodyType.Name)
            </dd>
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.Car.TransmissionType)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.Car.TransmissionType.Name)
            </dd>
        </dl>

    </div>
    <div class="col-sm-6 fotorama" data-nav="thumbs">
        @foreach (var image in Model.Car.CarImages) {
            <img src="@image.Path" alt="">
        }
    </div>
</div>

<div style="display: flex; column-gap: 5px;">
    <form asp-action="Details">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Close request" class="btn btn-success" />
    </form>

    @if (Model.State == PurchaseRequest.RequestState.Processing) {
        <form asp-action="CancelRequest">
            <input type="hidden" asp-for="Id" />
            <input type="submit" value="Cancel request" class="btn btn-danger" />
        </form>
    }

    <a asp-action="Index" class="btn btn-primary">Back to List</a>
</div>