@model PurchaseRequest

@{
    ViewData["Title"] = $"Request №{Model.Id}";
}

<h1>Request № @Model.Id</h1>
@*Status:
<div id="statuses-dropdown" class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        @Html.DisplayFor(model => model.State)
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        @foreach (var elem in ViewBag.PurchaseRequestStates) {
            <button class="dropdown-item" data-id="@Model.Id" data-state="@elem.Key">@elem.Value</button>
        }
    </div>
</div>*@
<h3>Client</h3>
<hr />
<dl class="row">
    <dt class="col-sm-4">
        @Html.DisplayNameFor(model => model.FullName)
    </dt>
    <dd class="col-sm-8">
        @Html.DisplayFor(model => model.FullName)
    </dd>
    <dt class="col-sm-4">
        @Html.DisplayNameFor(model => model.Phone)
    </dt>
    <dd class="col-sm-8">
        @Html.DisplayFor(model => model.Phone)
    </dd>
    <dt class="col-sm-4">
        @Html.DisplayNameFor(model => model.Email)
    </dt>
    <dd class="col-sm-8">
        @Html.DisplayFor(model => model.Email)
    </dd>
    <dt class="col-sm-4">
        @Html.DisplayNameFor(model => model.ApplicationDate)
    </dt>
    <dd class="col-sm-8">
        @Html.DisplayFor(model => model.ApplicationDate)
    </dd>
</dl>

<h3>Car</h3>
<hr />
<dl class="row">
    <dt class="col-sm-4">
        Model
    </dt>
    <dd class="col-sm-8">
        @Model.Car.Model.Brand.Name @Model.Car.Model.Parent?.Name @Model.Car.Model.Name
    </dd>
    <dt class="col-sm-4">
        @Html.DisplayNameFor(model => model.Car.Year)
    </dt>
    <dd class="col-sm-8">
        @Html.DisplayFor(model => model.Car.Year)
    </dd>
    <dt class="col-sm-4">
        @Html.DisplayNameFor(model => model.Car.Price)
    </dt>
    <dd class="col-sm-8">
        @Html.DisplayFor(model => model.Car.Price)
    </dd>
    <dt class="col-sm-4">
        @Html.DisplayNameFor(model => model.Car.State)
    </dt>
    <dd class="col-sm-8">
        @Html.DisplayFor(model => model.Car.State)
    </dd>
    <dt class="col-sm-4">
        @Html.DisplayNameFor(model => model.Car.EngineVolume)
    </dt>
    <dd class="col-sm-8">
        @Html.DisplayFor(model => model.Car.EngineVolume)
    </dd>
    <dt class="col-sm-4">
        @Html.DisplayNameFor(model => model.Car.Mileage)
    </dt>
    <dd class="col-sm-8">
        @Html.DisplayFor(model => model.Car.Mileage)
    </dd>
    <dt class="col-sm-4">
        @Html.DisplayNameFor(model => model.Car.FuelType)
    </dt>
    <dd class="col-sm-8">
        @Html.DisplayFor(model => model.Car.FuelType.Name)
    </dd>
    <dt class="col-sm-4">
        @Html.DisplayNameFor(model => model.Car.BodyType)
    </dt>
    <dd class="col-sm-8">
        @Html.DisplayFor(model => model.Car.BodyType.Name)
    </dd>
    <dt class="col-sm-4">
        @Html.DisplayNameFor(model => model.Car.TransmissionType)
    </dt>
    <dd class="col-sm-8">
        @Html.DisplayFor(model => model.Car.TransmissionType.Name)
    </dd>
</dl>

<form asp-action="Details">
    <input type="hidden" asp-for="Id" />
    <input type="submit" value="Close request" class="btn btn-primary" /> |
    <a asp-action="Index">Back to List</a>
</form>

@if (Model.State == PurchaseRequest.RequestState.Processing) {
    <form asp-action="CancelRequest">
        <input type="hidden" asp-for="Id"/>
        <input type="submit" value="Cancel request" class="btn btn-danger"/> |
    </form>
}

@*@section Scripts {
    <script type="text/javascript">
        $(document).ready(() => {
            $('#statuses-dropdown').on('click',
                '.dropdown-item',
                (e) => {
                    console.log(e.target);

                    const requestId = e.target.dataset['id'];
                    const newState = e.target.dataset['state'];

                    $.ajax({
                        url: '@Url.Action("ChangeRequestState", "PurchaseRequests")',
                        data: {requestId: requestId, newState: newState}
                    }).done((data) => {
                        console.log(data);
                        $(`#dropdownMenuButton`).text(data);
                    });
                });
        });
    </script>
}*@