@model PaginatedList<Car>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

@if (User.Identity.IsAuthenticated) {
    <p>@User.Identity.Name</p>

    <form method="post" asp-controller="Account" asp-action="Logout">
        <input type="submit" value="Выход" />
    </form>
}
else {
    <a asp-controller="Account" asp-action="Login">Вход</a>
    <a asp-controller="Account" asp-action="Register">Регистрация</a>
}

<form asp-action="Index" method="get">

    <div class="form-row">
        <div class="form-group col-sm-6">
            <label for="brands-list">Brands:</label>
            <select asp-items="ViewBag.Brands" name="brandId" id="brands-list" class="form-control">
                <option value=""></option>
            </select>
        </div>

        <div class="form-group col-sm-6">
            <label for="models-list">Models:</label>
            <select name="modelId" id="models-list" asp-items="ViewBag.CarModels" class="form-control">
                <option value=""></option>
            </select>
        </div>
    </div>

    <div class="form-group">
        <div class="form-check form-check-inline">
            Fuel type: &nbsp;
            @foreach (var fuelType in ViewBag.FuelTypes) {

                string state = "";

                if (ViewBag.CheckedFuelTypes != null) {
                    foreach (var checkedFuelType in ViewBag.CheckedFuelTypes) {
                        if (checkedFuelType == fuelType.Id.ToString()) {
                            state = "checked";
                        }
                    }
                }

                <input class="form-check-input" id="@fuelType.Name-checkbox" type="checkbox" value="@fuelType.Id" name="fuelTypes" @state>
                <label class="form-check-label" for="@fuelType.Name-checkbox">@fuelType.Name</label> @Html.Raw(" &nbsp; ")
            }
        </div>
    </div>

    <div class="form-group">
        <div class="form-check form-check-inline">
            Body type: &nbsp;
            <br>
            @foreach (var bodyType in ViewBag.BodyTypes) {

                string state = "";

                if (ViewBag.CheckedBodyTypes != null) {
                    foreach (var checkedBodyType in ViewBag.CheckedBodyTypes) {
                        if (checkedBodyType == bodyType.Id.ToString()) {
                            state = "checked";
                        }
                    }
                }

                <input class="form-check-input" id="@bodyType.Name-checkbox" type="checkbox" value="@bodyType.Id" name="bodyTypes" @state>
                <label class="form-check-label" for="@bodyType.Name-checkbox">@bodyType.Name</label> @Html.Raw(" &nbsp; ")
            }
        </div>
    </div>

    <div class="form-group">
        <div class="form-check form-check-inline">
            Transmission type: &nbsp;
            <br>
            @foreach (var transmissionType in ViewBag.TransmissionTypes) {

                string state = "";

                if (ViewBag.CheckedTransmissionTypes != null) {
                    foreach (var checkedTransmissionType in ViewBag.CheckedTransmissionTypes) {
                        if (checkedTransmissionType == transmissionType.Id.ToString()) {
                            state = "checked";
                        }
                    }
                }

                <input class="form-check-input" id="@transmissionType.Name-checkbox" type="checkbox" value="@transmissionType.Id" name="transmissionTypes" @state>
                <label class="form-check-label" for="@transmissionType.Name-checkbox">@transmissionType.Name</label> @Html.Raw(" &nbsp; ")
            }
        </div>
    </div>

    Price:
    <div class="form-row">
        <div class="form-group col-sm-6">
            <input class="form-control" type="text" name="priceFrom" value="" placeholder="From" min="0" />
        </div>
        <div class="form-group col-sm-6">
            <input class="form-control" type="text" name="priceTo" value="" placeholder="To" min="0" />
        </div>
    </div>

    <input type="hidden" name="newSearch" value="1">
    <div class="form-group">
        <input type="submit" value="Search" class="btn btn-primary btn-lg" />
    </div>
</form>
<br>
<br>

<div class="row">

    @foreach (var item in Model) {
        <div class="col-sm-12">
            <div class="card car-card" style="margin: 15px;">
                <div class="card-body">
                    <h5 class="card-title">@item.Model.Brand.Name @item.Model.Parent?.Name @item.Model.Name @item.Year</h5>
                    <div class="row">
                        <div class="col-sm-12 fotorama" data-nav="thumbs" style="display: flex; -o-justify-content: center; -webkit-justify-content: center; justify-content: center;">
                            @if (item.CarImages.Count > 0) {

                                @foreach (var image in item.CarImages) {
                                    <img src="@image.Path" alt="">
                                }
                            }
                            else {
                                <img src="/img/no-image.jpg" alt="" style="height: 300px">
                            }
                        </div>
                    </div>
                    <dl class="row">
                        <dt class="col-sm-4">
                            @Html.DisplayNameFor(model => item.Price)
                        </dt>
                        <dd class="col-sm-8">
                            @Html.DisplayFor(model => item.Price)
                        </dd>
                        <dt class="col-sm-4">
                            @Html.DisplayNameFor(model => item.State)
                        </dt>
                        <dd class="col-sm-8">
                            @Html.DisplayFor(model => item.State)
                        </dd>
                        <dt class="col-sm-4">
                            @Html.DisplayNameFor(model => item.Mileage)
                        </dt>
                        <dd class="col-sm-8">
                            @Html.DisplayFor(model => item.Mileage)
                        </dd>
                        <dt class="col-sm-4">
                            @Html.DisplayNameFor(model => item.FuelType)
                        </dt>
                        <dd class="col-sm-8">
                            @Html.DisplayFor(model => item.FuelType.Name)
                        </dd>
                        <dt class="col-sm-4">
                            @Html.DisplayNameFor(model => item.TransmissionType)
                        </dt>
                        <dd class="col-sm-8">
                            @Html.DisplayFor(model => item.TransmissionType.Name)
                        </dd>
                    </dl>
                    <a asp-action="Car" asp-route-id="@item.Id" class="btn btn-primary">Details</a>
                    <button data-id="@item.Id" class="btn btn-primary btn-add-compare">Add to compare</button>
                    @if (User.Identity.IsAuthenticated) {

                        bool isFeatured = false;
                        if (ViewBag.FeaturedCars.Count > 0) {
                            isFeatured = ViewBag.FeaturedCars.Contains(item.Id);
                        }

                        <button data-id="@item.Id" class="btn btn-primary btn-add-featured">@Html.Raw(isFeatured ? "Remove from " : "Add to ")featured</button>
                    }
                </div>
            </div>
        </div>
    }
</div>

@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}

<a href="@Url.Action("Index")@ViewBag.QueryString@("page=" + (Model.PageIndex - 1))" class="btn btn-primary @prevDisabled">Prev</a>
<a href="@Url.Action("Index")@ViewBag.QueryString@("page=" + (Model.PageIndex + 1))" class="btn btn-primary @nextDisabled">Next</a>

@section Scripts {
    <script type="text/javascript">
        $(document).ready(() => {
            $('#brands-list').on('click',
                'option',
                (e) => {
                    //console.log(e.target.value);
                    let brandId = encodeURIComponent(e.target.value);

                    $('#models-list').load('@Url.Action("GetModelsByBrand", "Home")?brandId=' + brandId);
                    $('#models-list').prepend('<option value=""></option>');
                });

            $('.car-card').on('click',
                '.btn-add-featured',
                (e) => {
                    console.log(e.target);

                    const carId = e.target.dataset['id'];

                    $.ajax({
                        url: '@Url.Action("AddRemoveFeatured", "Home")',
                        data: { carId: carId }
                    }).done((data) => {
                        console.log(data);
                        if (data === 'added') {
                            $(e.target).text("Remove from featured");
                        } else if (data === 'removed') {
                            $(e.target).text("Add to featured");
                        }
                    });

                });


            $('.car-card').on('click',
                '.btn-add-compare',
                (e) => {
                    console.log(e.target);

                    const carId = e.target.dataset['id'];

                    $.ajax({
                        url: '@Url.Action("AddRemoveToCompare", "Home")',
                        data: { carId: carId }
                    }).done((data) => {
                        console.log(data);
                        if (data === 'added') {
                            $(e.target).text("Remove from compare");
                        } else if (data === 'removed') {
                            $(e.target).text("Add to compare");
                        }
                    });

                });

        });
    </script>
}