@model CourseProject.Models.Car

@{
    ViewData["Title"] = "Details";
}

<h1>@Model.Model.Brand.Name @Model.Model.Parent?.Name @Model.Model.Name @Model.Year</h1>
<hr />

<div>
    <div class="row">
        <div class="col-sm-6">
            <dl class="row">
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.Price)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.Price)
                </dd>
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.State)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.State)
                </dd>
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.Color)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.Color)
                </dd>
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.EngineVolume)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.EngineVolume)
                </dd>
                @if(Model.State == Car.CarState.SecondHand) {
                    <dt class="col-sm-4">
                        @Html.DisplayNameFor(model => model.Mileage)
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.Mileage)
                    </dd>
                }
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.FuelType)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.FuelType.Name)
                </dd>
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.BodyType)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.BodyType.Name)
                </dd>
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.TransmissionType)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.TransmissionType.Name)
                </dd>
            </dl>
        </div>
        <div class="col-sm-6 fotorama" data-nav="thumbs">
            @foreach (var image in Model.CarImages) {
                <img src="@image.Path" alt="">
            }
        </div>
    </div>
    
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary">Edit</a> 
    <a asp-action="Index" class="btn btn-primary">Back to list</a>
</div>
