@model IEnumerable<CourseProject.Models.SupplyRequest>

@{
    ViewData["Title"] = "Supply requests";
}

<h1>Supply requests</h1>

<table class="table">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Dealer)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Car)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Count)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.State)
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Dealer.Name)
            </td>
            <td>
                <a asp-controller="Cars" asp-action="Details" asp-route-id="@item.Car.Id">@item.Car.Model.Brand.Name @item.Car.Model.Parent?.Name @item.Car.Model.Name</a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Count)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.State)
            </td>
            <td>
                @if (item.State == SupplyRequest.SupplyRequestState.New) {
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-primary">Edit</a>
                }
                @if (item.State == SupplyRequest.SupplyRequestState.New) {
                    <a asp-action="SendRequest" asp-route-id="@item.Id" class="btn btn-success">Send Request</a>
                }
                @if (item.State == SupplyRequest.SupplyRequestState.Sent) {
                    <a asp-action="CloseRequest" asp-route-id="@item.Id" class="btn btn-success">Close Request</a>
                }
                @if (item.State != SupplyRequest.SupplyRequestState.Sent) {
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Delete</a>
                }
            </td>
        </tr>
    }
    </tbody>
</table>
