@model User

<h1>Personal info</h1>
<hr />

<dl class="row">
    <dt class="col-sm-4">
        @Html.DisplayNameFor(model => model.UserName)
    </dt>
    <dd class="col-sm-8">
        @Html.DisplayFor(model => model.UserName)
    </dd>
    <dt class="col-sm-4">
        @Html.DisplayNameFor(model => model.Email)
    </dt>
    <dd class="col-sm-8">
        @Html.DisplayFor(model => model.Email)
    </dd>
</dl>

<h2>Featured Cars</h2>
<hr />

@if (Model.FeaturedCars != null && Model.FeaturedCars.Count > 0) {
    <table class="table" id="featured-cars-table">
        <thead>
            <tr>
                <th>Car</th>
                <th>Price</th>
                <th>Year</th>
                <th>State</th>
                <th>Mileage</th>
                <th>Engine Volume</th>
                <th>Fuel</th>
                <th>Body Type</th>
                <th>Transmission</th>
                <th>Image</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.FeaturedCars) {
                <tr>
                    <td>
                        @item.Car.Model.Brand.Name @item.Car.Model.Parent?.Name @item.Car.Model.Name
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Car.Price)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Car.Year)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Car.State)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Car.Mileage)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Car.EngineVolume)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Car.FuelType.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Car.BodyType.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Car.TransmissionType.Name)
                    </td>
                    <td>
                        @if (item.Car.CarImages.Count > 0) {
                            <img src="@item.Car.CarImages.First().Path" alt="" style="width: 100px">
                        }
                    </td>
                    <td>
                        <a asp-controller="Home" asp-action="Car" asp-route-id="@item.Id">Details</a> |
                        <a class="btn btn-danger btn-remove-from-featured" data-id="@item.Id">Remove</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else {
    <p>There are no featured cars</p>
}

@if (Model.PurchaseRequests != null && Model.PurchaseRequests.Count > 0) {
    <h2>Purchase requests</h2>
    <hr />
    <table class="table" id="requests-table">
        <thead>
            <tr>
                <th>
                    Request Id
                </th>
                <th>
                    Car
                </th>
                <th>
                    Request state
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.PurchaseRequests) {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Id)
                    </td>
                    <td>
                        @item.Car.Model.Brand.Name @item.Car.Model.Parent?.Name @item.Car.Model.Name
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.State)
                    </td>
                    <td>
                        <a asp-controller="Home" asp-action="Car" asp-route-id="@item.CarId">Details</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else {
    <p>There are no requests yet</p>
}
@section Scripts {
    <script type="text/javascript">
    $(document).ready(() => {
        $('#featured-cars-table').on('click',
            '.btn-remove-from-featured',
            (e) => {
                console.log(e.target.parentNode.parentNode);

                const carId = e.target.dataset['id'];

                $.ajax({
                    url: '@Url.Action("AddRemoveFeatured", "Home")',
                    data: { carId: carId }
                }).done(() => {
                    $(e.target.parentNode.parentNode).remove();

                    if ($('#featured-cars-table tr').length == 1) {
                        $('#featured-cars-table').before('<p>There are no featured cars</p>');
                        $('#featured-cars-table').remove();
                    }
                });

            });

    });
    </script>
}